section
  section
    h2 E como eu uso isso?
  section
    h3 No Windows ou no Mac
    p #[a(href="//desktop.github.com/", target="_blank") GitHub Desktop] é a melhor opção para iniciantes
  section
    h3 No Linux
    pre
      code.bash
        | $ yum install git-core # Fedora
        | $ apt-get install git  # derivados do Debian (como Ubuntu)
