section
  section(data-background-image="img/nadamal.gif")
  section
    h2 Próximos passos
    ul
      li #[a(href="//guides.github.com/", target="_blank") GitHub Guides (em inglês)]
      li #[a(href="//tableless.com.br/tudo-que-voce-queria-saber-sobre-git-e-github-mas-tinha-vergonha-de-perguntar/", target="_blank") Tudo que você queria saber sobre Git e GitHub, mas tinha vergonha de perguntar]
      li #[a(href="//git-scm.com/book/pt-br/v1", target="_blank") Livro Pro Git (traduzido para português)]
      li #[a(href="//blog.da2k.com.br/2015/02/05/segredos-do-github-hospedando-seu-site-no-github/", target="_blank") Hospedando seu site no Github]
