section(data-background-image="img/fim.gif")
  h2 Obrigado!
  blockquote.
    Felipe Pontes#[br]
    #[small felipemfpontes@gmail.com#[br]felipe.postero.com.br#[br]github.com/felipemfp]
  blockquote.
    Francisco Bento#[br]
    #[small francisco.bento.jr@hotmail.com#[br]chico.postero.com.br#[br]github.com/chicobentojr]
