section
  section
    h2 Tá, mas o que é GitHub?
    ul.fragment
      li Hospedagem e gerenciamento
      li Pensado para desenvolvedores
      li Projetos públicos e privados
      li Integrações com outras ferramentas
  section
    h2 Vamos dar uma olhada
    p Acesse #[a(href="//github.com", target="_blank") github.com]
