section
  section
    h2 O que é Git?
  section
    h2 Quais as vantagens?
    ul
      li Controle de versão
      li Trabalho em equipe
      li Portabilidade
  section(data-background-image="img/porque-nao.gif")
    h2 E por que usar?
