head
    meta(charset="UTF-8")
    title Iniciando com Git
    meta(name="description" content="Apresentação sobre Git voltado para iniciantes.")
    meta(name="author" content="Felipe Pontes, Francisco Bento")
    meta(property="og:type" content="website")
    meta(property="og:image" content="img/hero.jpg")
    meta(property="og:description" content="Apresentação sobre Git voltado para iniciantes.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
